@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Livvic", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: -2px -1px 41px 12px rgba(34, 60, 80, 0.142);
  padding: 15px 25px;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.5s;
  margin-top: 25px;
  border-radius: 10px;
  text-align: center;
}
.container:hover {
  box-shadow: 13px 14px 39px 16px rgba(34, 60, 80, 0.41);
  border-radius: 10px;
  transform: scale(1.001);
}

h1 {
  font-weight: 500;
}
.color-text {
  padding-top: 15px;
}
.copyright {
  position: absolute;
  bottom: 50px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 22px;
  }
  .color-text {
    font-size: 12px;
  }
}
